<nav class="navbar navbar-expand-lg navbar-light bg-light">      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav my-2 my-sm-0">

            <li class="nav-item active" id="phim">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Phim
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/films">Phim Sắp Chiếu</a>
                <a class="dropdown-item" routerLink="/films">Phim Đang Chiếu</a>
              </div>
            </li>

            <li class="nav-item active" id="gt">
                    <a class="nav-link" href="#">Giới Thiệu <span class="sr-only">(current)</span></a>
                  </li>
           
          </ul>
         
        </div>
      </nav>