.title{
    font-weight: 700;
    font-size: 24px;
}

.buttons{
    margin: 15px 0px;
}

em{
    font-style: normal;
    font-size: 15px;
    font-weight: 700px;
}
p{
    margin: 0;
}
.modal-error{
    margin: 16px;
}

.imgGhe{
    padding-left: 60px;
}




