<!-- Footer -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #6351ce;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-8 col-lg-7 text-center text-md-left mb-4 mb-md-0">
            <h4 class="mb-0"><i style="color: chartreuse;">HÃY KẾT NỐI VỚI CHÚNG TÔI ĐỂ CÓ THỂ SỞ HỮU NHỮNG TẤM VÉ XEM PHIM MỚI!</i></h4>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-5 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Công Ty CGV Bán vé xem phim</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Công ty CGV là tổng công ty chuyên cung cấp các dịch vụ bán vé xem phim 
              trên phạm vi toàn quốc - Công Ty có nhiều chi nhánh khắp cả nước !
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">SẢN PHẨM</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Vé VIP</a>
          </p>
          <p>
            <a href="#!">Vé Ưu Tiên</a>
          </p>
          <p>
            <a href="#!">Vé Thường</a>
          </p>
          <p>
            <a href="#!">Vé Miễn Phí</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6  class="text-uppercase font-weight-bold">LIÊN HỆ</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;">
          <p>
            <b style="color: rgb(218, 11, 200);">PHẠM DUY KIÊN - 16038471</b>
          </p>
          <p>
            <b style="color: rgb(218, 11, 200);">TÔ CÔNG TUYỂN</b>
          </p>
          <p>
            <b style="color:  rgb(218, 11, 200);">PHAN CÔNG NHẬT VŨ</b>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">NỘI DUNG</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> TPHCM,28/10/2019</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> phamkien1409198@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> cgv@gmail.com</p>
          <p>
            <i class="fas fa-print mr-3"></i> 0968692487</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">@ 28/10/2019 
      <a href="https://mdbootstrap.com/education/bootstrap/"> Nhóm 23</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
